<p id="notice"><%= notice %></p>

<h2>Locations</h2>
  <% @locations.each do |location| %>
      <h4><%=location.company.name %> | <%= location.city %></h4>
      <h5>Courses at This Location:</h5>
      <ul>
        <% location.courses.each do |course| %>
          <li> <%= course.name %> </li>
        <% end %>
      </ul>
      <h5>Employees at This Location:</h5>
      <ul>
        <% location.employees.each do |employee| %>
          <li> <%= employee.full_name %> </li>
        <% end %>
      </ul>
      <%= link_to 'Show', location %>
      <%= link_to 'Edit', edit_location_path(location) %></td>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
