<p id="notice"><%= notice %></p>

<p>
  <strong>Employees:</strong>
  <%= @location.employees %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @location.courses %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
